<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <h1>About</h1>
    <p>Hello beauty</p>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>All Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ipsam repellat odit cumque voluptas assumenda.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ipsam repellat odit cumque voluptas assumenda.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ipsam repellat odit cumque voluptas assumenda.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ipsam repellat odit cumque voluptas assumenda.</p>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>